/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

/* Estilização básica para o elemento de navegação */
nav ul {
  list-style-type: none; /* Remove os marcadores de lista */
  margin: 0 0 20px 0;
  padding: 0;
  overflow: hidden; /* Garante que os floats funcionem bem */
  background-color: #333; /* Cor de fundo escura */
}

/* Estiliza cada item da lista (link) */
nav li {
  float: left; /* Faz os itens ficarem lado a lado (horizontal) */
}

/* Estiliza os links */
nav li a {
  display: block; /* Faz o link preencher o <li> inteiro */
  color: white; /* Cor do texto */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /* Remove o sublinhado padrão dos links */
}

/* Estilo para quando o mouse passar por cima */
nav li a:hover {
  background-color: #111;
}